doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet" href="stylesheets/stylesheet.css")
		script(src="javascripts/script.js")
		title JRequest
	body
		header.navbar.navbar-static-top.navbar-prisma
			.container
				.navbar-header
					button.navbar-toggle(type="button" data-toggle="collapse" data-target="header .navbar-collapse")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a(href="#").navbar-brand
						i.fa.fa-paper-plane
						|  JRequest
				.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href="#") Home
						li
							a(href="#") Home
						li
							a(href="#") Home
		h1.animated.fadeInDown
			i.fa.fa-paper-plane.fa-lg
			| JRequest
